coverage
!.keep
/.bundle
/.env
/coverage/*
logs/
/tmp/*
/dump.rdb
/config/application.yml
/fixtures/*
fixtures
/spec/*
/spec_js/*
spec
.dockerignore
.gitignore
.editorconfig
.gitignore
.rspec
.rubocop.yml
.ruby-version
README.md
.env
tmp
log
spec
fixtures
.git
.github
Dockerfile
